:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --logo-color: #DB00FF;
  --accent-color: #ff0070;
  --section-title-color: #ff0070;
  --main-text-color: #F1B2CE;
  --contrast-text-color: #000028;
}
