:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #F1B2CE;
  --logo-color: #FFC2E6; 
  --accent-color: #FF8DCB;
  --main-text-color: #353430; 
  --contrast-text-color: #353430;
  --section-title-color: #353430;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #F1B2CE;
    --logo-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --main-text-color: #353430;
    --contrast-text-color: #353430;
    --section-title-color: #353430;
  }

  :root.theme-auto .header__rec {
    display: none;
  }
}