:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #f1b2ce;
  --logo-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --contrast-text-color: #353430;
  --section-title-color: #353430;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #f1b2ce;
    --logo-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --contrast-text-color: #353430;
    --section-title-color: #353430;
  }

  :root.theme-auto .header__rec {
    display: none;
  }
}
