.page {
  min-height: 100vh;
  margin: 0;
  padding: var(--page-padding);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--section-title-color);
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
}

/* HEADER */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-height: 100vh;
  margin-bottom: var(--content-margin);
}

.header__rec {
  position: absolute;
  top: 0;
  right: 10px;
  margin: 0;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

/* THEME MENU */

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1.5px 13px;
  color: var(--section-title-color);
  font-family: var(--main-font);
  line-height: 1.2;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--section-title-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

/* HEADER CONTENT */

.header__title {
  color: var(--logo-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--header-font-size-mobile);
  line-height: 0.85;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  width: 100%;
  max-width: 490px;
  margin-bottom: 14px;
  line-height: 1.25;
}

.title-decor {
  color: var(--contrast-text-color);
  font-family: var(--main-font);
  font-weight: var(--font-weight-bold);
  background-color: var(--accent-color);
}

/* MAIN CONTENT */

.content {
  display: grid;
  gap: var(--section-gap);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  font-size: var(--section-title-size);
}

.section:last-of-type {
  margin-bottom: 0;
}

.section__title {
  margin-bottom: var(--block-gap);
  color: var(--section-title-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--section-title-size);
}

.section__block {
  margin-bottom: var(--block-gap);
}

.section__block:last-child {
  margin-bottom: 0;
}

.section__subtitle {
  margin-bottom: var(--inline-gap);
  font-size: var(--section-title-size);
}

.section__subsubtitle {
  margin-bottom: var(--inline-gap);
  font-weight: var(--font-weight-regular);
}

.section--tips .section__subtitle {
  margin-bottom: var(--block-gap);
}

.section__text {
  margin: 0;
  font-size: var(--section-title-size);
  line-height: var(--line-height-text);
}

.section__text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.section__text-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.section__text-link:focus-visible {
  border: 1px solid var(--main-text-color);
  outline: none;
}

/* GALLERY */

.section__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section__gallery-grid {
  display: grid;
  gap: 10px;
}

/* FOOTER */

.footer {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin-top: var(--content-margin);
}

.footer__title {
  color: var(--logo-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--header-font-size);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  :root {
    --page-padding: 20px;
    --section-gap: 80px;
  }

  .header__title {
    margin-left: -20px;
    font-size: var(--header-font-size);
  }

  .header__subtitle {
    justify-self: end;
    width: 364px;
  }

  .section:not(.section--gallery) {
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }

  .section__title {
    grid-column: 1;
    grid-row: 1 / span 10;
  }

  .section__block,
  .section__subtitle,
  .section__gallery {
    grid-column: 2;
    align-self: start;
  }

  .section--problems .section__block,
  .section--problems .section__subtitle {
    grid-column: 1 / -1;
  }

  .section--gallery .section__subtitle {
    grid-column: 1 / -1;
  }

  .section__gallery-grid {
    display: grid;
    gap: 20px;
    margin-top: 10px;
  }

  .section__image {
    height: 100%;
  }

  .section__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .section__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .section__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (min-width: 1024px) {
  :root {
    --page-padding: 20px;
    --section-gap: 80px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: var(--header-font-size);
  }

  .header__subtitle {
    width: 491px;
  }

  .section:not(.section--gallery, .section--problems) {
    grid-template-columns: 315px 1fr;
    column-gap: 20px;
  }

  .section.section--problems {
    grid-template-columns: repeat(3, 1fr);
  }

  .section.section--problems .section__title {
    grid-column: 1;
    grid-row: 1;
  }

  .section.section--problems .section__block {
    grid-column: span 1;
    grid-row: 2;
  }
}
