:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --logo-color: #DB00FF;
  --accent-color: #ff0070;
  --button-border-color: #ff0070;
  --section-title-color: #ff0070;
  --main-text-color: #F1B2CE;
  --contrast-text-color: #000028;
  --main-font: 'IBM Plex mono', monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --header-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --section-title-size: 18px;
  --page-padding: 10px;
  --section-gap: 50px;
  --content-margin: 60px;
  --line-height-text: 1.3;
  --block-gap: 20px;
  --inline-gap: 10px;
  --header-text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-width: 768px) {
  :root {
    --page-padding: 20px;
    --section-gap: 80px;
  }
}

@media (min-width: 1024px) {
  :root {
    --page-padding: 20px;
    --section-gap: 80px;
  }
}